data/config
data/models
data/sprite
llm/__pycache__
runtime/
!core/runtime
!core/runtime/**
/__pycache__
*.pyc
*.pyo
*.pyd
/data
/out
/output
/build
/dist
/logs
/temp_export_*
/ui/settings_ui/__pycache__
/ui/settings_ui/.gitignore
/ui/settings_ui/images
/packaging
/build_exe
/assets/system/models
/cache
/onnx
/data
/funasr-runtime-resources/
/plugins
/plugins
/plugins
!/plugins/
/plugins/*
!/plugins/__init__.py
!/plugins/funasr_wss/
!/plugins/funasr_wss/**
/venv/
/venv314/
/.venv/
/data
.claude/settings.local.json
